@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

$wi-color: #ffffff;
$black : rgba(0, 0, 0, 0.7);

$g : #414141;

$b: #050505;

$f: 10px;


body {
    background-color: black;
}

.footer{
    font-size: $f;
}


.white {
    background-color: $wi-color;
}

.whitet {
    color: $wi-color;
}

.g{
    background-color: $g;
    border-radius: 10px;

}

.about{
    background-color: $g;


}

.img{
    border-radius: 5px;
}


.total{
    border-radius: 10px;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 214px;
    color: #fff;
    text-align: center;

}

.h-s__img{
    max-height: 650px;
}

.black{
    background-color: $black;
}

a:hover{
    color: transparent;
}

.textb{
    color: $b;
}


.minh{
    max-height: 121px;
}


.ew{
    border: transparent;
    border-bottom: 1px #838586 solid;
    background-color: transparent;
    color: $wi-color;
    cursor: pointer;


}

.whe{
    border-radius: 100%;
    border: 1px $wi-color solid ;
    font-size: 15px;
    padding: 5px;
}
