@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";

$wi-color: #ffffff;
$black : rgba(0, 0, 0, 0.7);

$g : #414141;

$b: #050505;

$f: 10px;


$fmed: 16px;

body {
    background-color: black;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}



.footer{
    font-size: $f;
}


.white {
    background-color: $wi-color;
}

.whitet {
    color: $wi-color;
}

.g{
    background-color: $g;
    border-radius: 10px;

}

.about{
    background-color: $g;


}

.img{
    border-radius: 5px;
}
.border-white{
    border: $wi-color 1px solid;
}

.total{
    border-radius: 10px;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 214px;
    color: #fff;
    text-align: center;

}

.h-s__img{
    max-height: 695px;
    
}

.black{
    background-color: $black;
}

a:hover{
    color: transparent;
}

.textb{
    color: $b;
}


.minh{
    max-height: 121px;
}


.ew{
    border: transparent;
    border-bottom: 1px #838586 solid;
    background-color: transparent;
    color: $wi-color;
    cursor: pointer;


}

.whe{
    border-radius: 100%;
    border: 1px $wi-color solid ;
    font-size: 15px;
    padding: 5px;
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: -15px;
        padding-left: -15px;
    }

    .m-4{
        padding: 0;
        margin: 0;
    }

    .footer{
        font-size: $fmed;
    }

    .h-s__img {
        max-height: 244px;
     
    }
  }


  .navbar{
    background-color: unset;
    transition: background-color 200ms linear;
}
.navbar.scrolled{
    background-color: #333333 !important;
    transition: background-color 200ms linear;
}

@media ( min-width: 992px) {
    .navbar-dark{
        background-color: unset;
    }
}

@media(max-width:992px){
    .navbar-dark {
        background-color: #333333;
    }
}

a.anchor{
    display: block;
    position: relative;
    top:-100px;
    visibility:hidden;
}

.a:hover{
color: $g;
}